<a href="https://colab.research.google.com/github/iu-data-science-python-i590/final-project-team-python-trio/blob/master/Phase1/final_project_phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Analysis of K-means Clustering on Wisconsin Breast Cancer Data

Phase 1.0 | 2018 October 24

Bill Screen, Ha-Lan Nguyen, Tarun Rawat | Indiana University | M.S. Data Science

#### PROBLEM STATEMENT: 
Breast cancer is a rising issue among women. A cancer’s stage is a crucial factor in deciding what treatment options to recommend, and in determining the patient’s prognosis. Today, in the United States, approximately one in eight women over their lifetime has a risk of developing breast cancer. An analysis of the most recent data has shown that the survival rate is 88% after 5 years of diagnosis and 80% after 10 years of diagnosis. With early detection and treatment, it is possible that this type of cancer will go into remission. In such a case, the worse fear of a cancer patient is the recurrence of the cancer.

#### OBJECTIVE: 
This report will demonstrate how implementing a "k-means" algorithm can be used to classify benign and malign cells in two different groups.

---

#### Phase 1 Tasks

- Download the data and load it in Python
- Add Headers (Scn A2 A3 A4 A5 A6 A7 A8 A9 A10 CLASS)
- Impute missing values 
- Plot basic graphs
- Compute data statistics

#### Import Libraries

---

In [0]:
# Import Libraries
%matplotlib inline
import pandas as pd
import pylab as plt
import numpy as np
from collections import defaultdict, Counter

#### Load Data
---

In [15]:
# Set header column names
column_names = ['Scn','A2','A3','A4','A5','A6','A7','A8','A9','A10','CLASS']

# Set NA character
na_value_char = '?' 

# Load data file into pandas Dataframe
df = pd.read_csv('breast-cancer-wisconsin.data', names=column_names, na_values=na_value_char)

# Inspect data
# print(data.head(n=100))
# print(df[df['A7'].apply(np.isnan)])

         Scn  A2  A3  A4  A5  A6  A7  A8  A9  A10  CLASS
23   1057013   8   4   5   1   2 NaN   7   3    1      4
40   1096800   6   6   6   9   6 NaN   7   8    1      2
139  1183246   1   1   1   1   1 NaN   2   1    1      2
145  1184840   1   1   3   1   2 NaN   2   1    1      2
158  1193683   1   1   2   1   3 NaN   1   1    1      2
164  1197510   5   1   1   1   2 NaN   3   1    1      2
235  1241232   3   1   4   1   2 NaN   3   1    1      2
249   169356   3   1   1   1   2 NaN   3   1    1      2
275   432809   3   1   3   1   2 NaN   2   1    1      2
292   563649   8   8   8   1   2 NaN   6  10    1      4
294   606140   1   1   1   1   2 NaN   2   1    1      2
297    61634   5   4   3   1   2 NaN   2   3    1      2
315   704168   4   6   5   6   7 NaN   4   9    1      2
321   733639   3   1   1   1   2 NaN   3   1    1      2
411  1238464   1   1   1   1   1 NaN   2   1    1      2
617  1057067   1   1   1   1   1 NaN   1   1    1      2

#### Impute missing values

In [17]:
# Replace NaN values with the mean value in column A7
df['A7'].fillna((df['A7'].mean()), inplace=True)

# Inspect data
# print(data.head(n=100))
# print(df[df['A7'].apply(np.isnan)])

Empty DataFrame
Columns: [Scn, A2, A3, A4, A5, A6, A7, A8, A9, A10, CLASS]
Index: []